@use "../all" as *;

.content {
  width: 85vw;
  min-height: 80vh;
  margin: 0 auto;
  padding-top: 2%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

  h1 {
    font-size: 3rem;
  }
}
